body{
    background:#f3f2ef;
    margin:0;
    padding:0; 
}
/* HEADER */

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header img {
    border-radius: 50%;
    border: 1px solid #bab9be;
}

#main-image {
    padding: 5px;
    width: 108px;
    height: 108px;
}

#header-info {
    flex: 1;
}

#header-info h1, h2 {
    margin: 0;
    padding: 5px;
}

#header-info h2 {
    color: #334455;
}

/* MENU-BAR */

#top-menu-bar {
    text-align: center;
    background-color: #334455;
    color: #fff;
    margin: 2px 0;
}

#top-menu-bar li {
    display: inline;
    margin: 0;
}

#top-menu-bar a {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px 5px 15px;
    margin: 2px 0;
    display: inline-block;
}

#top-menu-bar a:visited {
    color: #fff;
}

#top-menu-bar a:hover,
#top-menu-bar a.active {
    color: #334455;
    background-color: #fff;
}

/* MAIN CONTENT */

td {
    padding: 5px 10px;
    color: darkblue;
}

.page {
    display: none;
    background-color: white;
    border: 1px solid #e0dfdc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.page h3 {
    margin: 0 0 5px 0;
}

.page ul {
    margin: 0;
    padding-left: 20px;
}

.social ul {
    padding: 0;
}

.social li {
    display: inline-block;
    margin: 0 auto;
}

.social a {
    color: #324554;
    margin: 0 10px 0 10px;
}

.social a:hover {
    color: silver;
}


footer {
    background-color:#324554;
    color: white;
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 5px;
}


